{:paths   ["src"]
 :deps    {org.clojure/clojure               {:mvn/version "1.10.3"}
           codesmith/blocks                  {:git/url "https://github.com/codesmith-gmbh/blocks.git"
                                              :sha     "6751f885cd1596686e29f93455ba7832d3471535"}

           com.zaxxer/HikariCP               {:mvn/version "5.0.0" :exclusions [org.slf4j/slf4j-api]}
           com.github.seancorfield/next.jdbc {:mvn/version "1.2.753"}
           org.postgresql/postgresql         {:mvn/version "42.3.1"}
           migratus/migratus                 {:mvn/version "1.3.5"}}
 :aliases {:dev      {:extra-paths ["dev"]}
           :test     {:extra-paths ["test"]}
           :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "1.3.1"}}
                      :main-opts  ["-m" "antq.core"]}}}
